<a href="https://colab.research.google.com/github/hayat-tamboli/ML-basics/blob/main/Decision%20tree%20and%20logistic%20regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Everything regarding dataset and its proper import 

you can find the bayesian classification and decision tree classification below

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from matplotlib import style
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report, plot_confusion_matrix, precision_score, recall_score
from sklearn.tree import DecisionTreeClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import confusion_matrix,classification_report
%matplotlib inline

In [ ]:
#reading the data
df_train = pd.read_csv('https://raw.githubusercontent.com/hayat-tamboli/AI-datasets/main/train.csv')

In [ ]:
df_train.head()

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]

In [ ]:
df_train.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [ ]:
df_train['Age'] = df_train['Age'].fillna(df_train['Age'].median())
df_train= df_train.dropna(axis=0, subset=['Embarked'])
df_train=df_train.drop(['Cabin'], axis=1)
df_train.isnull().sum()
df_train.drop(['Name','Ticket', 'PassengerId'], axis = 1, inplace=True)

In [ ]:
labelencoder = LabelEncoder()
df_train['Sex'] = labelencoder.fit_transform(df_train['Sex'])
df_train['Embarked'] = labelencoder.fit_transform(df_train['Embarked'])
df_train.head()

   Survived  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0         0       3    1  22.0      1      0   7.2500         2
1         1       1    0  38.0      1      0  71.2833         0
2         1       3    0  26.0      0      0   7.9250         2
3         1       1    0  35.0      1      0  53.1000         2
4         0       3    1  35.0      0      0   8.0500         2

In [ ]:
X_train= df_train.drop('Survived', axis = 1)
y_train= df_train['Survived']
scaler= StandardScaler()
scaler.fit(X_train)
scaled_X_train= scaler.transform(X_train)
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X_train, y_train, test_size=0.3, random_state=1)

# Bayesian classification

In [ ]:
model = GaussianNB()
model.fit(X_train, y_train)
y_pred = model.predict(X_test)
cm = confusion_matrix(y_test,y_pred)
cm

array([[136,  30],
       [ 21,  80]])

In [ ]:
TP = cm[0,0]
TN = cm[1,1]
FP = cm[0,1]
FN = cm[1,0]
classification_accuracy = (TP + TN) / float(TP + TN + FP + FN)
print('Classification accuracy : {0:0.2f}'.format(classification_accuracy))
precision = TP / float(TP + FP)
print('Precision : {0:0.2f}'.format(precision))
recall = TP / float(TP + FN)
print('Recall or Sensitivity : {0:0.2f}'.format(recall))

Classification accuracy : 0.81
Precision : 0.82
Recall or Sensitivity : 0.87

In [ ]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.87      0.82      0.84       166
           1       0.73      0.79      0.76       101

    accuracy                           0.81       267
   macro avg       0.80      0.81      0.80       267
weighted avg       0.81      0.81      0.81       267

# Decision tree classification

In [ ]:
y_pred = model.predict(X_test)
cm = confusion_matrix(y_test,y_pred)
cm

array([[136,  30],
       [ 21,  80]])

In [ ]:
TP = cm[0,0]
TN = cm[1,1]
FP = cm[0,1]
FN = cm[1,0]

In [ ]:
# print classification accuracy
classification_accuracy = (TP + TN) / float(TP + TN + FP + FN)
print('Classification accuracy : {0:0.2f}'.format(classification_accuracy))
# print precision score
precision = TP / float(TP + FP)
print('Precision : {0:0.2f}'.format(precision))

recall = TP / float(TP + FN)
print('Recall or Sensitivity : {0:0.2f}'.format(recall))

Classification accuracy : 0.81
Precision : 0.82
Recall or Sensitivity : 0.87